/* quizarea */

#quizarea {
	margin: 0 auto;
}

.column {
  width: 100%;
  min-height: 5em;
  padding: 1.5em;
  background-color: #FFF8EB;

  margin-bottom: 3rem;
  @media screen and #{$brk-narrow} {
    width: 65%;    
  }

/*  @media screen and #{$brk-wide} {
    width: 46%;    
  }*/
}

/*.resorts {
  @extend %columns;
  float: right;
}*/